body {
    background: linear-gradient(#FFFFFF 20%, #FFC9E9 80%);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 200 px;
}

.model-selector {
    display: flex;
    align-items: center;
    width: 200 px;
    gap: 10px;
    color: black;
    background-color: white;
    margin-top: 100 px;
    border: solid 3px #EC407A;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 2px;
    font-weight: 600;
    font-size: 12pt;
    cursor: pointer;
}

.model-selector:hover {
    background-color: #FFC9E9;
}

.img {
    width: 30px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    margin-top: 25%;
}

.person-icon {
    width: 120px;
    padding: 0;

}

h3 {
    margin-top: 0;
    background: linear-gradient(50deg, #000000 0%, #EC407A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    padding: 10px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}